In [1]:
import pandas as pd

#key: value 쌍으로 딕셔너리를 만들고,  변수 dict_data에 저장
dict_data = {'a':1, 'b':2 , 'c':3}

#pandas Series() 함수로 dictionary 를 Series 로 변환 하고 변수에 저장

sr = pd.Series(dict_data)

#print of sr's data type
print(type(sr))
print('\n')

#print of object of series in variable sr
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [5]:
import pandas as pd
list_data =  ['2019-01-02',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr)
# 인덱스 배열은 변수 idx에 저장 , 데이터 값 배열은 변수 val 에 저장

idx  =sr.index
val  =sr.values
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [9]:
import pandas as pd 
#튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01' , '여', True)
sr= pd.Series(tup_data ,index =['이름', '생년월일', '성별', '학생여부'])
print(sr)

print(sr[0])
print(sr['이름'])
print('\n')
#여러개의 원소를 출력 ([인덱스의 리스트 활용])
print(sr[[1,2]])
#밑에는 성별부분을 포함하지 않음
print(sr[1,2])
print('\n')
print(sr[['생년월일', '성별']])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
영인
영인


생년월일    2010-05-01
성별               여
dtype: object

KeyError: (1, 2)

In [10]:
import pandas as pd

#열이름은 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3] , 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환 . 변수 df에 저장
df = pd.DataFrame(dict_data)

#df의 자료형 출력
print(type(df))
print('\n')
#변수 df에 저장되어 있는 데이터 프레임객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [13]:
import pandas as pd

#행 인덱스 / 열 이름 지정하여 데이터프레임 만들기

df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                  index=['준서', '예은'] , 
                  columns=['나이','성별','학교'])

#행 인덱스 , 열 이름 확인하기

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

df.index =['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']
print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

#열 이름 중, '나이'를 '연령'으로 , '성별' 을 '남녀'로 , '학교'를 '소속'으로 바꾸기
df.rename(columns = {'나이':'연령', '성별': '남녀', '학교':'소속'} ,inplace =True)

#df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace = True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [16]:
import pandas as pd 

#DataFrame() 함수로 데이터프레임 변환 , 변수 df에 저장

exam_data = {'수학': [90,80,70], '영어': [98,89,95], '음악':[85, 95, 100] , '체육':[100,90,95]}

df = pd.DataFrame(exam_data, index=['서준','우현','미나'])

print(df)
print('\n')
df2= df[:]
df2.drop('우현',axis=0,inplace=True)
print(df2)
print('\n')

#데이터프레임 df를 복제하여 df3에 저장, df3의 2개 행(row) 삭제
df3= df[:]
df3.drop(['우현','미나'],axis=0,inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
미나  70  95  100   95


    수학  영어   음악   체육
서준  90  98   85  100
미나  70  95  100   95


    수학  영어  음악   체육
서준  90  98  85  100

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
import pandas as pd 

#DataFrame() 함수로 데이터프레임 변환 , 변수 df에 저장

exam_data = {'수학': [90,80,70], '영어': [98,89,95], '음악':[85, 95, 100] , '체육':[100,90,95]}

df = pd.DataFrame(exam_data, index=['서준','우현','미나'])

print(df)
print('\n')
df2= df[:]
df2.drop('수학',axis=1,inplace=True)
print(df2)
print('\n')

#데이터프레임 df를 복제하여 df3에 저장, df3의 2개 행(row) 삭제
df3= df[:]
df3.drop(['영어','음악'],axis=1,inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
미나  70  95  100   95


    영어   음악   체육
서준  98   85  100
우현  89   95   90
미나  95  100   95


    수학   체육
서준  90  100
우현  80   90
미나  70   95

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
import pandas as pd 

#DataFrame() 함수로 데이터프레임 변환 , 변수 df에 저장

exam_data = {'수학': [90,80,70], '영어': [98,89,95], '음악':[85, 95, 100] , '체육':[100,90,95]}

df = pd.DataFrame(exam_data, index=['서준','우현','미나'])

print(df)
print('\n')
#행 인덱스를 사용하여 행 1개 선택
label1 =  df.loc['서준']
position1= df.iloc[0]
print(label1)
print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
미나  70  95  100   95


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [21]:
import pandas as pd 

#DataFrame() 함수로 데이터프레임 변환 , 변수 df에 저장

exam_data = {'수학': [90,80,70], '영어': [98,89,95], '음악':[85, 95, 100] , '체육':[100,90,95]}

df = pd.DataFrame(exam_data, index=['서준','우현','미나'])

print(df)
print('\n')
#행 인덱스를 사용하여 행 1개 선택
label1 =  df.loc['서준']
position1= df.iloc[0]
print(label1)
print('\n')
print(position1)

label2 =df.loc[['서준', '우현']]
position2 = df.iloc[[0,1]]

print(label2)
print('\n')
print(position2)

#행 인덱스의 범위를 지정하여 행 선택

label3 = df.loc['서준':'우현']
position3= df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
미나  70  95  100   95


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [28]:
import pandas as pd 

#DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'이름':['서준','우현','미나'],
            '수학':[90,80,70],
            '영어':[98,89,95],
            '음악':[85,95,100],
            '체육':[100,90,90]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')
#'수학1 ' 점수 데이터만 선택, 변수 math1에 저장
math1= df['수학']
print(math1)
print(type(math1))
print('\n')

#'영어' 점수 데이터만 선택, 변수 english에 저장

english = df.영어
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  미나  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [26]:
import pandas as pd 

#DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장

exam_data = {'이름':['서준','우현','미나'],
            '수학':[90,80,70],
            '영어':[98,89,95],
            '음악':[85,95,100],
            '체육':[100,90,90]}

df = pd.DataFrame(exam_data)
#이름 열을 새로운 인덱스로 지정하고 df 객체에 변경사항 반영

df.set_index('이름',inplace =True)
print(df)

a= df.loc['서준', '음악']
print(a)
#0행의 2열을 뜻하는 정수형 위치 인덱스(0,2)를 전달
b= df.iloc[0,2]
print(b)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
미나  70  95  100   90
85
85

In [30]:
import pandas as pd

exam_data = {'이름':['서준','유현','미나'],
            '수학':[90,80,70],
            '영어':[98,89,95],
            '음악':[85,95,100],
            '체육':[100,90,90]}
df= pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  유현  80  89   95   90
2  미나  70  95  100   90

In [31]:
import pandas as pd

exam_data = {'이름':['서준','우현','인아'],
            '수학':[90,80,70],
            '영어':[98,96,90],
            '음악':[85,95,100],
            '체육':[100,90,90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')
#특정 열을 데이터프레임의 행 인덱스로 설정
ndf = df.set_index(['이름'])
print(ndf)
ndf2= ndf.set_index(['음악'])
print(ndf2)
ndf3= ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  96   95   90
2  인아  70  90  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  96   95   90
인아  70  90  100   90
     수학  영어   체육
음악
85   90  98  100
95   80  96   90
100  70  90   90
        영어   체육
수학 음악
90 85   98  100
80 95   96   90
70 100  90   90

In [33]:
import pandas as pd

student1 = pd.Series({'korean':100,'english':90,'history':97})
student2 = pd.Series({'korean':94,'english':88,'history':99})
print(student1)
print('\n')
print(student2)

addiction= student1+student2
sub = student1- student2
mul = student1*student2
div = student1 / student2

print(type(div))
print('\n')

result = pd.DataFrame([addiction , sub, mul, div], index= ['더하기', '빼기', '곱하기', '나누기'])
print(result)

korean     100
english     90
history     97
dtype: int64


korean     94
english    88
history    99
dtype: int64
<class 'pandas.core.series.Series'>


         korean      english      history
더하기   194.00000   178.000000   196.000000
빼기      6.00000     2.000000    -2.000000
곱하기  9400.00000  7920.000000  9603.000000
나누기     1.06383     1.022727     0.979798